@model IEnumerable<MVCExam.Models.Goods>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoodsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodsImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodsName)
                </td>
                <td>
                    <figure>
                        <img src="@item.GoodsImage" width="100" />
                        <figcaption>@item.GoodsName</figcaption>
                    </figure>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoodsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GoodsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GoodsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
